@charset "UTF-8";
 
// Light theme
[data-theme="light"] {
    --color-primary: #597ade;
    --color-background: #ffffff;
    --color-text: #333333;
    --color-code-block: #f5f5f5;
    --color-shadow: #acacac;
    --color-line: #efefef;
    --filter: invert(0%);
}

// Dark theme
[data-theme="dark"] {
    --color-primary: #8197da;
    --color-background: #111215;
    --color-text: #dcdcdc;
    --color-code-block: #3b3b3b;
    --color-shadow: #666666;
    --color-line: #222222;
    --filter: invert(100%);
}

$font-text: -apple-system, 
    BlinkMacSystemFont, 
    segoe ui, Roboto, 
    Oxygen,
    Cantarell, 
    open sans, 
    helvetica neue, 
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";