{{/* 这是一个公用的评论组件，修改此处会同步到所有页面 */}}
<div class="giscus" style="margin-top: 2rem;"></div>
<script src="https://giscus.app/client.js"
        data-repo="valfread/valfread.github.io"
        data-repo-id="R_kgDORQkNwQ"
        data-category="Announcements"
        data-category-id="DIC_kwDORQkNwc4C2dvt"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>