@charset "UTF-8";

@import 'base/variables';
@import 'modules/header';
@import 'modules/pagination';
@import 'modules/footer';
@import 'pages/article';
@import 'pages/home';
@import 'pages/search';

html {
    text-rendering: geometricPrecision;

    font: {
        family: $font-text;
        size: 1rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    max-width: 46rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.725;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: block;
}

h1 {
    padding: 3.5rem 0 1rem 0;
    margin: 0;
    font-size: 1.65rem;
}

h2 {
    font-size: 1.35rem;

    &::before {
        content: "# ";
        color: var(--color-deep-blue);
    }
}


a {
    text-decoration: none;
    color: var(--color-deep-blue);
    padding-bottom: 2px;
    font-weight: 600;

    &:hover {
        text-decoration: none;
        box-sizing: border-box;
        padding-bottom: 0;
        border-bottom: 2px solid var(--color-deep-blue);
    }
}

p {
    &>img {
        border-radius: 5px;
        display: flex;
        margin: 25px auto;
        max-width: 100%;
    }

    &>code {
        font-family: 'Fira Code';
        font-size: 0.8rem;
        color: var(--color-deep-blue);
        background-color: var(--color-code-block);
        margin: 0 1px;
        padding: 1px 4px;
        border-radius: 5px;
    }
}

pre>code {
    font-family: 'Fira Code';
    font-size: 0.85rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--color-text);
}

th,
td {
    border: 1px solid var(--color-text);
    padding: 8px;
}

li {
    &>input {
        width: fit-content;
    }
}

blockquote {
    display: flex;
    background-color: var(--color-code-block);
    border-left: 5px solid var(--color-deep-blue);
    padding-left: 25px;
    margin: 0;
    font-style: italic;
    font-size: 0.93rem;
    opacity: 0.7;
}

.highlight {
    background-color: #252b2e;
    overflow: auto;
    border-radius: 5px;

    pre {
        margin: 10px;

        code {
            &>span {
                &::after {
                    content: "";
                    padding-right: 15px;
                }

                margin: 0 10px;
            }
        }
    }
}

.hero,
.cover {
    width: 100%;
    height: 222px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-shadow);

    @media (max-width:720px) {
        height: 182px;
    }

    &-image {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
}

.section-title {
    width: fit-content;
    color: var(--color-deep-blue);
    cursor: pointer;
    margin: 3rem 0 .3rem 0;

    font: {
        size: 1.35rem;
        weight: bold;
    }


    &::before {
        content: "~ ";
    }
}

.backtotop {
    display: flex;
    margin: 30px auto;
    color: var(--color-deep-blue);
    font-weight: bold;
    border-bottom: 2px solid var(--color-deep-blue);
    width: fit-content;
    cursor: pointer;
}

div.code-wrapper {
    position: relative;

    &:hover .copy-code-btn {
        opacity: 1;
    }
}

.copy-code-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background: var(--color-deep-blue);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;

    &:hover {
        background: var(--color-deep-blue);
    }

    .copied::after {
        margin-left: 8px;
    }
}